* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
body {
  background-color: #f2f3f5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  overflow: hidden;
  transition: max-height 1000ms ease-in-out;
}

.open {
  max-height: none;
}
